body, h1 {
    font-family: 'Inconsolata', sans-serif;
}
.input-filter {
    margin: 20px 0;
}
.input-identity {
    position: relative;
}
.list-repository {
    position: absolute;
    top: 35px;
    left: 0;
}
.list-repository li {
    padding: 10px;
    cursor: pointer;
    background: #444;
    border-bottom: 1px solid #000;
}
.list-repository li:last-child {
    border-bottom: 0;
}
.list-repository li:hover {
    background: #666;
}
.list-repository li a:hover {
    text-decoration: none;
}
