<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>GitHub issues search</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular-resource.min.js"></script>
    <link rel="stylesheet" href="css/app.css">
    <script src="js/app.js"></script>
</head>
<body ng-app="myApp">
    <div class="container">
        <h1>GitHub issues search</h1>
        <p><a target="_blank" href="https://github.com/mamor/gh-issues-search/issues">Feedback</a></p>

        <div ng-controller="appCtrl">
            <div class="form-inline" my-keypress-enter="searchIssues()">
                <div class="pull-left input-repository">
                    <input type="text" class="form-control" placeholder="username/repository" ng-keyup="searchRepositories()" ng-model="inputRepository" />
                    <ul class="list-unstyled panel panel-default list-repository">
                        <li ng-repeat="repository in repositories"><a ng-click="selectRepository(repository.full_name)">{{ repository.full_name }}</a></li>
                    </ul>
                </div>
                <input type="text" class="form-control" placeholder="keyword" ng-model="inputKeyword" />
                <button class="btn btn-default" ng-click="searchIssues()">Search</button>
            </div>
            <h2>Results</h2>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th style="width: 5%;">No.</th>
                        <th style="width: 5%;">State</th>
                        <th style="width: 10%;">Created</th>
                        <th style="width: 10%;">Updated</th>
                        <th style="width: 70%;">Title</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="(index, issue) in issues">
                        <td>{{ index + 1 }}</td>
                        <td>{{ issue.state }}</td>
                        <td>{{ issue.created_at | date:'yyyy-MM-dd' }}</td>
                        <td>{{ issue.updated_at | date:'yyyy-MM-dd' }}</td>
                        <td><a target="_blank" href="{{ issue.html_url }}">{{ issue.title }}</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>
